---
title: "Servicios de Ing. Civil - Template Ing.Civil"
layout: "../layouts/default.astro"
---

<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">

<title>Landing Ing. Civil</title>

<!-- Stylesheets -->
<link rel="icon" href="images/favicon.ico" type="image/x-icon">
<link rel="stylesheet" href="https://i.icomoon.io/public/temp/16c6fab72a/UntitleDDdProject1/style.css">
<link rel="stylesheet" href="https://i.icomoon.io/public/temp/5e5ca81c98/UntitleDDdProject1/style.css">
<script src="https://kit.fontawesome.com/29354132f5.js" crossorigin="anonymous"></script>
<link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
<link rel="stylesheet" href="https://cdn.flaticon.com/path-to-your-icon-font.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&icon_names=manufacturing" />

<link rel="stylesheet" href={`${import.meta.env.BASE_URL}/css/style.css`}>
<link rel="stylesheet" href={`${import.meta.env.BASE_URL}/css/animate.css`}>
<link rel="stylesheet" href={`${import.meta.env.BASE_URL}/css/aos.css`}>
<link rel="stylesheet" href={`${import.meta.env.BASE_URL}/css/bootstrap.css`}>
<link rel="stylesheet" href={`${import.meta.env.BASE_URL}/css/flaticon.css`}>
<link rel="stylesheet" href={`${import.meta.env.BASE_URL}/css/font-awesome.min.css`}>
<link rel="stylesheet" href={`${import.meta.env.BASE_URL}/css/jquery-ui.css`}>
<link rel="stylesheet" href={`${import.meta.env.BASE_URL}/css/jquery.bootstrap-touchspin.css`}>
<link rel="stylesheet" href={`${import.meta.env.BASE_URL}/css/owl.css`}>
<link rel="stylesheet" href={`${import.meta.env.BASE_URL}/css/responsive.css`}>

<script src={`${import.meta.env.BASE_URL}/js/owl.js`} is:inline></script>

</head>

<!-- page wrapper -->
<body class="boxed_wrapper">


    <!-- preloader -->
    <div class="preloader"></div>
    <!-- preloader -->


    <!-- search-box-layout -->
    <div class="wraper_flyout_search">
        <div class="table">
            <div class="table-cell">
                <div class="flyout-search-layer"></div>
                <div class="flyout-search-layer"></div>
                <div class="flyout-search-layer"></div>
                <div class="flyout-search-close">
                    <span class="flyout-search-close-line"></span>
                    <span class="flyout-search-close-line"></span>
                </div>
                <div class="flyout_search">
                    <div class="flyout-search-title">
                        <h4>Buscar</h4>
                    </div>
                    <div class="flyout-search-bar">
                        <form role="search" method="get" action="#">
                            <div class="form-row">
                                <input type="search" placeholder="Type to search..." value="" name="s" required="">
                                <button type="submit"><i class="fa fa-search"></i></button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- search-box-layout end -->


    <!-- main header -->
    <header class="main-header">
        <!-- header-top -->
        <div class="header-top">
            <div class="container">
                <div class="inner-container clearfix">
                    <ul class="header-info pull-left">
                        <li>Horario : Lunes-Viernes 09am-5pm</li>
                        <li><i class="icon-phone-call"></i><a href="tel:(+88)01912704287">(+51) 989796551</a></li>
                    </ul>
                    <ul class="header-nav pull-right">
                        <li><a href="#">Carreras</a></li>
                        <li><a href="#">Contactos</a></li>
                        <li>
                        </li>
                    </ul>
                </div>
            </div>
        </div><!-- header-top end -->

        <!-- header-upper -->
        <div class="header-upper">
            <div class="container">
                <div class="inner-container clearfix">
                    <div class="left-content pull-left">
                        <div class="info-box">
                            <div class="icon-box"><i class="icon-location2"></i></div>
                            <h5>Company Office</h5>
                            <span>Av. Javier Prado 2245, San Isidro</span>
                        </div>
                        <div class="logo-box">
                            <figure class="logo"><a href="index.html"><img src={`${import.meta.env.BASE_URL}imagenes/logo.png`} alt=""></a></figure>
                        </div>
                    </div>
                    <div class="right-content pull-right">
                        <div class="info-box">
                            <div class="icon-box"><i class="icon-mail"></i></div>
                            <h5>Email</h5>
                            <a href="mailto:info@example.com">info@example.com</a>``
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- header-upper end -->

        <!-- header-bottom -->
        <div class="header-bottom">
            <div class="container">
                <div class="outer-container">
                    <div class="nav-outer clearfix">
                        <div class="menu-area pull-left clearfix">
                            <div class="button-box"><a href="#"><span class="icon-triangle-right"></span>Obtenga asistencia</a></div>
                            <nav class="main-menu navbar-expand-lg">
                                <div class="navbar-header">
                                    <!-- Toggle Button -->
                                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    </button>
                                </div>
                                <div class="navbar-collapse collapse clearfix">
                                    <ul class="navigation clearfix">
                                        <li class="current dropdown"><a href="#">Inicio</a>
                                            <ul>
                                                <li><a href="index.html">Fabrica</a></li>
                                                <li><a href="index-2.html">Indrustial</a></li>
                                                <li><a href="index-3.html">Construccion</a></li>
                                                <li><a href="index-4.html">Gas</a></li>
                                                <li><a href="index-5.html">Energia Domestica</a></li>
                                                <li><a href="index-6.html"> Maquinaria Industrial</a></li>
                                                <li><a href="index-7.html">Tejidos y Textiles</a></li>
                                                <li><a href="index-8.html">Medicos a Domiciclio</a></li>
                                                <li class="dropdown"><a href="#">Estilos de cabecera</a>
                                                    <ul>
                                                        <li><a href="index.html">Header Style 01</a></li>
                                                        <li><a href="index-2.html">Header Style 02</a></li>
                                                        <li><a href="index-3.html">Header Style 03</a></li>
                                                        <li><a href="index-4.html">Header Style 04</a></li>
                                                        <li><a href="index-5.html">Header Style 05</a></li>
                                                        <li><a href="index-6.html">Header Style 06</a></li>
                                                        <li><a href="index-7.html">Header Style 07</a></li>
                                                        <li><a href="index-8.html">Header Style 08</a></li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="dropdown"><a href="#">Nosotros</a>
                                            <ul>
                                                <li class="dropdown"><a href="#">Sobre Nosotros</a>
                                                    <ul>
                                                        <li><a href="about.html">About Type 01</a></li>
                                                        <li><a href="about-2.html">About Type 02</a></li>
                                                    </ul>
                                                </li>
                                                <li class="dropdown"><a href="#">Equipo</a>
                                                    <ul>
                                                        <li><a href="team.html">Team Type 01</a></li>
                                                        <li><a href="team-2.html">Team Type 02</a></li>
                                                    </ul>
                                                </li>
                                                <li class="dropdown"><a href="#">Servicios</a>
                                                    <ul>
                                                        <li><a href="service.html">Service Type 01</a></li>
                                                        <li><a href="service-2.html">Service Type 02</a></li>
                                                        <li><a href="service-3.html">Service Type 03</a></li>
                                                        <li><a href="service-single.html">Service Single 01</a></li>
                                                        <li><a href="service-single-2.html">Service Single 02</a></li>
                                                    </ul>
                                                </li>
                                                <li class="dropdown"><a href="#">Shop Page</a>
                                                    <ul>
                                                        <li><a href="shop.html">Shop Type 01</a></li>
                                                        <li><a href="shop-2.html">Shop Type 02</a></li>
                                                        <li><a href="shop-single.html">Single Shop</a></li>
                                                    </ul>
                                                </li>
                                                <li><a href="history.html">Nuestra Historia</a></li>
                                                <li><a href="partner.html">Nuestros Aliados</a></li>
                                                <li><a href="testimonial.html">Nuestro testimonio</a></li>
                                                <li><a href="gallery.html">Nuestra Galeria</a></li>
                                                <li><a href="coming-soon.html">Próximamente</a></li>
                                                <li><a href="error.html">Error de Pagina</a></li>
                                            </ul>
                                        </li> 
                                        <li class="dropdown"><a href="#">Casos</a>
                                            <ul>
                                                <li><a href="case.html">Caso 01</a></li>
                                                <li><a href="case-2.html">Caso 02</a></li>
                                                <li><a href="case-3.html">Caso 03</a></li>
                                                <li><a href="case-4.html">Caso 04</a></li>
                                                <li><a href="case-single.html">Caso 01</a></li>
                                                <li><a href="case-single-2.html">Caso 02</a></li>
                                            </ul>
                                        </li>
                                        <li class="dropdown"><a href="#">Blog</a>
                                            <ul>
                                                <li><a href="blog-grid.html">Blog Grid</a></li>
                                                <li><a href="blog-classic.html">Blog Classic</a></li>
                                                <li><a href="blog-single.html">Blog Single</a></li>
                                            </ul>
                                        </li>                              
                                        <li class="dropdown"><a href="#">Contactos</a>
                                            <ul>
                                                <li><a href="contact.html">Contacto 01</a></li>
                                                <li><a href="contact-2.html">Contacto 02</a></li>
                                            </ul>
                                        </li> 
                                    </ul>
                                </div>
                            </nav>
                        </div>
                        <div class="info-box pull-right clearfix">
                            <ul class="social-links">
                                <li><a href="#"><i class="icon-facebook-official"></i></a></li>
                                <li><a href="#"><i class="icon-linkedin"></i></a></li>
                                <li><a href="#"><i class="icon-pinterest-square"></i></a></li>
                                <li><a href="#"><i class="icon-google2"></i></a></li>
                            </ul>
                            <div class="shop-cart">
                                <a href="shop.html" aria-label="Ir a la tienda">
                                  <span class="shop-cart__icon">
                                    <i class="icon-shopping-cart"></i>
                                  </span>
                                  <span class="shop-cart__count">0</span>
                                </a>
                              </div>
                            <div class="search-box">
                                <div class="header-flyout-searchbar">
                                    <i class="icon-search"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- header-bottom end -->

        <!--sticky Header-->
        <div class="sticky-header">
            <div class="container clearfix">
                <figure class="logo-box"><a href="index.html"><img src={`${import.meta.env.BASE_URL}/imagenes/small-logo.png`} alt=""></a></figure>
                <div class="menu-area">
                    <nav class="main-menu navbar-expand-lg">
                        <div class="navbar-header">
                            <!-- Toggle Button -->      
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            </button>
                        </div>
                        <div class="navbar-collapse collapse clearfix">
                            <ul class="navigation clearfix">
                                <li class="current dropdown"><a href="#">Inicio</a>
                                    <ul>
										<li><a href="index.html">Fabrica</a></li>
										<li><a href="index-2.html">Indrustial</a></li>
										<li><a href="index-3.html">Construccion</a></li>
										<li><a href="index-4.html">Gas</a></li>
										<li><a href="index-5.html">Energia Domestica</a></li>
										<li><a href="index-6.html"> Maquinaria Industrial</a></li>
										<li><a href="index-7.html">Tejidos y Textiles</a></li>
										<li><a href="index-8.html">Medicos a Domiciclio</a></li>
										<li class="dropdown"><a href="#">Estilos de cabecera</a>
                                            <ul>
                                                <li><a href="index.html">Header Style 01</a></li>
                                                <li><a href="index-2.html">Header Style 02</a></li>
                                                <li><a href="index-3.html">Header Style 03</a></li>
                                                <li><a href="index-4.html">Header Style 04</a></li>
                                                <li><a href="index-5.html">Header Style 05</a></li>
                                                <li><a href="index-6.html">Header Style 06</a></li>
                                                <li><a href="index-7.html">Header Style 07</a></li>
                                                <li><a href="index-8.html">Header Style 08</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <li class="dropdown"><a href="#">Nostros</a>
                                    <ul>
                                        <li class="dropdown"><a href="#">Sobre Nosotros</a>
                                            <ul>
                                                <li><a href="about.html">About Type 01</a></li>
                                                <li><a href="about-2.html">About Type 02</a></li>
                                            </ul>
                                        </li>
                                        <li class="dropdown"><a href="#">Equipo</a>
                                            <ul>
                                                <li><a href="team.html">Team Type 01</a></li>
                                                <li><a href="team-2.html">Team Type 02</a></li>
                                            </ul>
                                        </li>
                                        <li class="dropdown"><a href="#">Servicios</a>
                                            <ul>
                                                <li><a href="service.html">Service Type 01</a></li>
                                                <li><a href="service-2.html">Service Type 02</a></li>
                                                <li><a href="service-3.html">Service Type 03</a></li>
                                                <li><a href="service-single.html">Service Single 01</a></li>
                                                <li><a href="service-single-2.html">Service Single 02</a></li>
                                            </ul>
                                        </li>
                                        <li class="dropdown"><a href="#">Tienda</a>
                                            <ul>
                                                <li><a href="shop.html">Shop Type 01</a></li>
                                                <li><a href="shop-2.html">Shop Type 02</a></li>
                                                <li><a href="shop-single.html">Single Shop</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="history.html">Nuestra Historia</a></li>
                                        <li><a href="partner.html">Nuestros Aliados</a></li>
                                        <li><a href="testimonial.html">Nuestro Testimonio</a></li>
                                        <li><a href="gallery.html">Nuestra Galeria</a></li>
                                        <li><a href="coming-soon.html">Proximamente</a></li>
                                        <li><a href="error.html">Error de Pagina</a></li>
                                    </ul>
                                </li> 
                                <li class="dropdown"><a href="#">Casos de Estudio</a>
                                    <ul>
                                        <li><a href="case.html">Caso 01</a></li>
                                        <li><a href="case-2.html">Caso 02</a></li>
                                        <li><a href="case-3.html">Caso 03</a></li>
                                        <li><a href="case-4.html">Caso 04</a></li>
                                        <li><a href="case-single.html">Caso 01</a></li>
                                        <li><a href="case-single-2.html">Caso 02</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown"><a href="#">Blog</a>
                                    <ul>
                                        <li><a href="blog-grid.html">Blog Grid</a></li>
                                        <li><a href="blog-classic.html">Blog Classic</a></li>
                                        <li><a href="blog-single.html">Blog Single</a></li>
                                    </ul>
                                </li>                              
                                <li class="dropdown"><a href="#">Contacto</a>
                                    <ul>
                                        <li><a href="contact.html">Contacto 01</a></li>
                                        <li><a href="contact-2.html">Contacto 02</a></li>
                                    </ul>
                                </li> 
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
        </div><!-- sticky-header end -->
    </header>
    <!-- main-header end -->

    <!-- banner demo -->
    <div id="demo-banner" class="demo-banner">
        ⚠️ Esta página es solo una demostración. Si quiere más información, comunicarse al correo:
        <a href="mailto:info@alosistemas.com">info@alosistemas.com</a>
        <button class="close-btn" id="close-btn">✕</button>
    </div>
    <!-- banner demo end-->

    <!-- main-slider -->
    <section class="main-slider">
        <div class="main-slider-carousel owl-carousel owl-theme">
            <div class="slide" style=`background-image: url('${import.meta.env.BASE_URL}/imagenes/slider-1.jpg');`>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 col-md-12 col-sm-12 content-column">
                            <div class="content-box">
                                <h5>Fabrica</h5>
                                <h1>La mejor solución de fábrica</h1>
                                <div class="text">La industria es la producción de bienes o servicios relacionados<br />dentro de una economía.</div>
                                <div class="button-box">
                                    <div class="link-button"><a href="#">Obtener solución</a></div>
                                    <div class="video-button"><a href="https://www.youtube.com/watch?v=nfP5N9Yc72A&amp;t=28s" class="lightbox-image" data-caption=""><i class="fas fa-play"></i></a></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-12 col-sm-12 image-column">
                            <div class="image-box">
                                <figure class="image"><img src={`${import.meta.env.BASE_URL}/imagenes/wheel-1.png`} alt="Slider 1"></figure>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="slide" style=`background-image: url('${import.meta.env.BASE_URL}/imagenes/slider-2.jpg');`>

                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 col-md-12 col-sm-12 content-column">
                            <div class="content-box">
                                <h5>Fabrica</h5>
                                <h1>La mejor solución de fábrica</h1>
                                <div class="text">La industria es la producción de bienes o servicios relacionados<br />dentro de una economía.</div>
                                <div class="button-box">
                                    <div class="link-button"><a href="#">Obtener solución</a></div>
                                    <div class="video-button"><a href="https://www.youtube.com/watch?v=nfP5N9Yc72A&amp;t=28s" class="lightbox-image" data-caption=""><i class="fas fa-play"></i></a></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-12 col-sm-12 image-column">
                            <div class="image-box">
                                <figure class="image"><img src={`${import.meta.env.BASE_URL}/imagenes/wheel-1.png`} alt="Slider 2"></figure>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="slide" style=`background-image: url('${import.meta.env.BASE_URL}/imagenes/slider-3.jpg');`>

                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 col-md-12 col-sm-12 content-column">
                            <div class="content-box">
                                <h5>Fabrica</h5>
                                <h1>La mejor solución de fábrica</h1>
                                <div class="text">La industria es la producción de bienes o servicios relacionados<br />dentro de una economía.</div>
                                <div class="button-box">
                                    <div class="link-button"><a href="#">Obtener solucion</a></div>
                                    <div class="video-button"><a href="https://www.youtube.com/watch?v=nfP5N9Yc72A&amp;t=28s" class="lightbox-image" data-caption=""><i class="fas fa-play"></i></a></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-12 col-sm-12 image-column">
                            <div class="image-box">
                                <figure class="image"><img src={`${import.meta.env.BASE_URL}/imagenes/wheel-1.png`} alt="Slider 3"></figure>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- main-slider end -->


    <!-- weare-section -->
    <section class="weare-section">
        <div class="container">
            <div class="row">
                <div class="col-xl-7 col-lg-12 col-md-12 content-column">
                    <div class="content-box">
                        <div class="title-box">
                            <h2>¿Quiénes somos?</h2>
                            <div class="text">Una empresa se concentra en su actividad principal: la promoción de terrenos para polígonos industriales y la construcción de fábricas prefabricadas en venta y alquiler en polígonos industriales.</div>
                        </div>
                        <div class="inner-box clearfix" data-aos="fade-right" data-aos-easing="linear" data-aos-duration="1500">
                            <div class="single-item">
                                <div class="item">
                                    <div class="icon-box"><i class="icon-factory"></i></div>
                                    <h2>120+</h2>
                                    <div class="text">Fabricas en todo el Peru</div>
                                </div>
                            </div>
                            <div class="single-item">
                                <div class="item">
                                    <div class="icon-box"><i class="icon-office"></i></div>
                                    <h2>4,121 MB</h2>
                                    <div class="text">Capital social</div>
                                </div>
                            </div>
                            <div class="button-box"><a href="#">Leer Mas</a></div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-5 col-lg-6 col-md-12 inner-column">
                    <div class="inner-content wow fadeInUp" data-wow-delay="900ms" data-wow-duration="1500ms">
                        <div class="inner-box">
                            <h2>Fabricantes de componentes para automóviles</h2>
                            <h3>trabajadores de todo el pais</h3>
                            <figure class="icon-box"><img src={`${import.meta.env.BASE_URL}imagenes/gear-1.png`} alt=""></figure>
                            <div class="link-btn"><a href="history.html">NUESTRA HISTORIA</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- weare-section end -->


    <!-- ourmission-section -->
    <section class="ourmission-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-12 col-sm-12 image-column">
                    <figure class="image clearfix wow fadeInLeft" data-wow-delay="900ms" data-wow-duration="1500ms"><img src={`${import.meta.env.BASE_URL}imagenes/mission-1.png`} alt=""></figure>
                </div>
                <div class="col-lg-6 col-md-12 col-sm-12 content-column">
                    <div class="content-box">
                        <div class="title-box">
                            <h2>Nuestra misión</h2>
                            <div class="text">Empresa estadounidense líder en fabricación de acero Especializada en acero estructural y edificios prefabricados.</div>
                        </div>
                        <div class="inner-box">
                            <div class="counter-block-one wow zoomIn" data-wow-delay="500ms" data-wow-duration="1500ms">
                                <div class="text">Resultado de fábrica</div>
                                <div class="count-outer count-box">
                                    <span class="count-text" data-speed="1500" data-stop="20">0</span><span>k</span>
                                </div>
                            </div>
                            <div class="counter-block-one wow zoomIn" data-wow-delay="00ms" data-wow-duration="1500ms">
                                <div class="text">Historial laboral</div>
                                <div class="count-outer count-box">
                                    <span class="count-text" data-speed="1500" data-stop="10">0</span><span>k</span><span class="symble">+</span>
                                </div>
                            </div>
                            <div class="counter-block-one wow zoomIn" data-wow-delay="500ms" data-wow-duration="1500ms">
                                <div class="text">Ganador de un pabellón</div>
                                <div class="count-outer count-box">
                                    <span class="count-text" data-speed="1500" data-stop="99">0</span><span class="symble">%</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ourmission-section end -->


    <!-- service-section -->
    <section class="service-section">
        <div class="container">
            <div class="sec-title centred">
                <h1>Soluciones de mercado</h1>
                <p>Nuestro experimentado personal, combinado con nuestra red mundial, nos permite ofrecerle<br />el apoyo que necesita.</p>
            </div>
            <div class="row">
                <div class="col-lg-6 col-md-12 col-sm-12 service-block">
                    <div class="service-block-one wow fadeInLeft" data-wow-delay="00ms" data-wow-duration="1500ms">
                        <div class="inner-box">
                            <figure class="image-box"><a href="service-single.html"><img src={`${import.meta.env.BASE_URL}/imagenes/service-1.jpg`} alt="Service 1"></a></figure>
                            <div class="content-box">
                                <div class="icon-box"><i class="fa-solid fa-industry"></i></div>
                                <h3><a href="blog-single.html">Petróleo y Gas Energía</a></h3>
                                <div class="text">Refinerías de petróleo, transporte de combustible y venta al usuario final en gasolineras. la industria del gas, incluido el natural</div>
                                <div class="link-btn"><a href="service-single.html">Continúa<i class="fas fa-arrow-right"></i></a></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12 col-sm-12 service-block">
                    <div class="service-block-one wow fadeInRight" data-wow-delay="00ms" data-wow-duration="1500ms">
                        <div class="inner-box">
                            <figure class="image-box"><a href="service-single.html"><img src={`${import.meta.env.BASE_URL}/imagenes/service-2.jpg`} alt="Service 2"></a></figure>
                            <div class="content-box">
                                <div class="icon-box"><i class="fa-solid fa-oil-well"></i></div>
                                <h3><a href="blog-single.html">Directores generales de fabricación</a></h3>
                                <div class="text">Refinerías de petróleo, transporte de combustible y venta al usuario final en gasolineras. la industria del gas, incluido el natural</div>
                                <div class="link-btn"><a href="service-single.html">Continúa<i class="fas fa-arrow-right"></i></a></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12 col-sm-12 service-block">
                    <div class="service-block-one wow fadeInLeft" data-wow-delay="500ms" data-wow-duration="1500ms">
                        <div class="inner-box">
                            <figure class="image-box"><a href="service-single.html"><img src={`${import.meta.env.BASE_URL}/imagenes/service-3.jpg`} alt="Service 3"></a></figure>
                            <div class="content-box">
                                <div class="icon-box"><i class="fa-solid fa-circle-radiation"></i></div>
                                <h3><a href="blog-single.html">Electricidad y energía</a></h3>
                                <div class="text">Refinerías de petróleo, transporte de combustible y venta al usuario final en gasolineras. la industria del gas, incluido el natural</div>
                                <div class="link-btn"><a href="service-single.html">Continúa<i class="fas fa-arrow-right"></i></a></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12 col-sm-12 service-block">
                    <div class="service-block-one wow fadeInRight" data-wow-delay="500ms" data-wow-duration="1500ms">
                        <div class="inner-box">
                            <figure class="image-box"><a href="service-single.html"><img src={`${import.meta.env.BASE_URL}/imagenes/service-4.jpg`} alt="Service 4"></a></figure>
                            <div class="content-box">
                                <div class="icon-box"><i class="fa-solid fa-fax"></i></div>
                                <h3><a href="blog-single.html">Grandes Industrias</a></h3>
                                <div class="text">Refinerías de petróleo, transporte de combustible y venta al usuario final en gasolineras. la industria del gas, incluido el natural</div>
                                <div class="link-btn"><a href="service-single.html">Continúa<i class="fas fa-arrow-right"></i></a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- service-section end -->


    <!-- about-section -->
    <section class="about-section bg-color-1">
        <div class="container">
            <div class="inner-content">
                <div class="row">
                    <div class="col-lg-6 col-md-12 col-sm-12 content-column">
                        <div class="content-box">
                            <div class="top-content">
                                <div class="top-text">Acerca de la empresa</div>
                                <h1>Fábrica internacional de sistemas de construcción</h1>
                                <h2>Un camino mejor para los fabricantes</h2>
                                <div class="text">En su empeño por convertirse en líder de confianza del sector, IBSF ha producido más de 10.000 estructuras enviadas a 36 países de todo el mundo.</div>
                            </div>
                            <div class="inner-box wow fadeInLeft" data-wow-delay="300ms" data-wow-duration="1500ms">
                                <div class="row">
                                    <div class="col-lg-6 col-md-6 col-sm-12 single-column">
                                        <div class="single-item">
                                            <div class="icon-box"><i class="icon-cogs"></i></div>
                                            <h5><a href="#">Jefes de Infraestructura</a></h5>
                                            <div class="text">Refinerías de petróleo, transporte de carburantes y venta al consumidor final en gasolineras.</div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-12 single-column">
                                        <div class="single-item">
                                            <div class="icon-box"><i class="fa-solid fa-oil-well"></i></div>
                                            <h5><a href="#">Refinería de petróleo</a></h5>
                                            <div class="text">Refinerías de petróleo, transporte de carburantes y venta al consumidor final en gasolineras.</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="lower-content wow fadeInUp" data-wow-delay="500ms" data-wow-duration="1500ms">
                                <h2>Influenciadores de startups e inversores ángeles</h2>
                                <div class="link-btn"><a href="#"><i class="icon-arrow-thin-right"></i></a></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12 col-sm-12 image-column">
                        <figure class="image-box wow fadeInRight" data-wow-delay="500ms" data-wow-duration="1500ms"><img src={`${import.meta.env.BASE_URL}/imagenes/about-1.jpg`} alt="About 1"></figure>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- about-section end -->


    <!-- factory-section -->
    <section class="factory-section" style=`background-image: url('${import.meta.env.BASE_URL}/imagenes/factory-bg.jpg');`>
        <div class="container">
            <div class="row">
                <div class="col-xl-8 col-lg-12 col-md-12 offset-xl-4 content-column">
                    <div class="content-box">
                        <div class="sec-title"><h1>Digital<br />Podcast de la fábrica</h1></div>
                        <div class="text">El futuro de la fabricación es digital. Exploramos las tecnologías que están transformando la fabricación, desde la impresión 3D avanzada hasta el diseño asistido por IA, y conocemos a los líderes que las están llevando a la planta de producción.</div>
                        <div class="progress-content">
                            <div class="single-progress-box">
                                <h6>Fábricas Producción</h6>
                                <div class="progress" data-value="85">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100">
                                        <div class="value-holder"><span class="value"></span>%</div>
                                    </div>
                                </div>
                            </div>
                            <div class="single-progress-box">
                                <h6>Tarea de fabricación</h6>
                                <div class="progress" data-value="95">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100">
                                        <div class="value-holder"><span class="value"></span>%</div>
                                    </div>
                                </div>
                            </div>
                            <div class="single-progress-box">
                                <h6>Especialista industrial</h6>
                                <div class="progress" data-value="80">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">
                                        <div class="value-holder"><span class="value"></span>%</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- factory-section end -->


    <!-- project-section -->
    <section class="project-section">
        <div class="large-container">
            <div class="sec-title centred">
                <h1>Proyecto Feature Factory</h1>
                <p>Nuestro experimentado personal, combinado con nuestra red mundial, nos permite ofrecer el<br />apoyo que necesita</p>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-12 project-block">
                    <div class="project-block-one wow fadeInUp" data-wow-delay="00ms" data-wow-duration="1500ms">
                        <div class="inner-box">
                            <div class="image-box">
                                <figure class="image"><img src={`${import.meta.env.BASE_URL}/imagenes/project-1.jpg`} alt="Project 1"></figure>
                                <a href={`${import.meta.env.BASE_URL}imagenes/project-1.jpg`} class="lightbox-image" data-fancybox='gallery'><i class="icon-plus"></i></a>
                            </div>
                            <div class="lower-content">
                                <div class="count-number">01</div>
                                <h3><a href="case-single.html">Manipulación de materiales</a></h3>
                                <div class="text">Manipulación de materiales y robótica industrial Juntas rotativas de fluidos rentables, ligeras y fiables</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12 project-block">
                    <div class="project-block-one wow fadeInUp" data-wow-delay="200ms" data-wow-duration="1500ms">
                        <div class="inner-box">
                            <div class="image-box">
                                <figure class="image"><img src={`${import.meta.env.BASE_URL}/imagenes/project-2.jpg`} alt="Project 2"></figure>
                                <a href={`${import.meta.env.BASE_URL}imagenes/project-2.jpg`} class="lightbox-image" data-fancybox='gallery'><i class="icon-plus"></i></a>
                            </div>
                            <div class="lower-content">
                                <div class="count-number">02</div>
                                <h3><a href="case-single.html">Robótica industrial</a></h3>
                                <div class="text">Convierta a sus visitantes en clientes con nuestro equipo de expertos. Analizaremos su sitio web</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12 project-block">
                    <div class="project-block-one wow fadeInUp" data-wow-delay="400ms" data-wow-duration="1500ms">
                        <div class="inner-box">
                            <div class="image-box">
                                <figure class="image"><img src={`${import.meta.env.BASE_URL}/imagenes/project-3.jpg`} alt="Project 3"></figure>
                                <a href={`${import.meta.env.BASE_URL}imagenes/project-3.jpg`} class="lightbox-image" data-fancybox='gallery'><i class="icon-plus"></i></a>
                            </div>
                            <div class="lower-content">
                                <div class="count-number">03</div>
                                <h3><a href="case-single.html">Puerto de Chittagong</a></h3>
                                <div class="text">Factory OS está revolucionando la construcción de viviendas. Hemos combinado tecnología pionera</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12 project-block">
                    <div class="project-block-one wow fadeInUp" data-wow-delay="600ms" data-wow-duration="1500ms">
                        <div class="inner-box">
                            <div class="image-box">
                                <figure class="image"><img src={`${import.meta.env.BASE_URL}/imagenes/project-4.jpg`} alt="Project 4"></figure>
                                <a href={`${import.meta.env.BASE_URL}imagenes/project-4.jpg`} class="lightbox-image" data-fancybox='gallery'><i class="icon-plus"></i></a>
                            </div>
                            <div class="lower-content">
                                <div class="count-number">04</div>
                                <h3><a href="case-single.html">Construcción de edificios</a></h3>
                                <div class="text">Construcción de edificios, las técnicas y la industria que intervienen en el montaje y la erección de estructuras</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- project-section end -->


    <!-- testimonial-section -->
    <section class="testimonial-section">
        <div class="container">
            <div class="inner-content">
                <div class="testimonial-content centred">
                    <div class="sec-title"><h1>Opiniones de clientes</h1></div>
                    <div class="testimonial-carousel owl-carousel owl-theme">
                        <div class="content-box">
                            <div class="text">Future Factory India es el destino único que ofrece una perspectiva holística de las tendencias, herramientas y tecnologías que tendrán un impacto significativo en el segmento de la fabricación en los próximos años.</div>
                            <div class="author-info">
                                <h5>Luis Ramos</h5>
                                <span class="designation">Ministerio de Electrónica</span>
                            </div>
                        </div>
                        <div class="content-box">
                            <div class="text">Future Factory India es el destino único que ofrece una perspectiva holística de las tendencias, herramientas y tecnologías que tendrán un impacto significativo en el segmento de la fabricación en los próximos años.</div>
                            <div class="author-info">
                                <h5>Mike Lopez</h5>
                                <span class="designation">Ministerio de Electrónica</span>
                            </div>
                        </div>
                        <div class="content-box">
                            <div class="text">Future Factory India es el destino único que ofrece una perspectiva holística de las tendencias, herramientas y tecnologías que tendrán un impacto significativo en el segmento de la fabricación en los próximos años.</div>
                            <div class="author-info">
                                <h5>Sarah Eve</h5>
                                <span class="designation">Ministerio de Electrónica</span>
                            </div>
                        </div>
                        <div class="content-box">
                            <div class="text">Future Factory India es el destino único que ofrece una perspectiva holística de las tendencias, herramientas y tecnologías que tendrán un impacto significativo en el segmento de la fabricación en los próximos años.</div>
                            <div class="author-info">
                                <h5>Mike Albert</h5>
                                <span class="designation">Ministerio de Electrónica</span>
                            </div>
                        </div>
                        <div class="content-box">
                            <div class="text">Future Factory India es el destino único que ofrece una perspectiva holística de las tendencias, herramientas y tecnologías que tendrán un impacto significativo en el segmento de la fabricación en los próximos años.</div>
                            <div class="author-info">
                                <h5>Sarah Velasquez</h5>
                                <span class="designation">Ministerio de Electrónica</span>
                            </div>
                        </div>
                        <div class="content-box">
                            <div class="text">Future Factory India es el destino único que ofrece una perspectiva holística de las tendencias, herramientas y tecnologías que tendrán un impacto significativo en el segmento de la fabricación en los próximos años.</div>
                            <div class="author-info">
                                <h5>Renato Castillo</h5>
                                <span class="designation">Ministry of Electronics</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="clients-outer">
                    <ul class="clients-logo-box clearfix">
                        <li class="logo"><figure><a href="#"><img src={`${import.meta.env.BASE_URL}imagenes/clients-1.png`} alt=""></a></figure></li>
                        <li class="logo"><figure><a href="#"><img src={`${import.meta.env.BASE_URL}imagenes/clients-2.png`} alt=""></a></figure></li>
                        <li class="logo"><figure><a href="#"><img src={`${import.meta.env.BASE_URL}imagenes/clients-3.png`} alt=""></a></figure></li>
                        <li class="logo"><figure><a href="#"><img src={`${import.meta.env.BASE_URL}imagenes/clients-4.png`} alt=""></a></figure></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <!-- testimonial-section end -->


    <!-- team-section -->
    <section class="team-section" style=`background-image: url('${import.meta.env.BASE_URL}/imagenes/team-bg.jpg');`>
        <div class="container">
            <div class="sec-title">
                <h1>Equipo de expertos</h1>
                <p>Nuestro experimentado personal, combinado con nuestra red mundial, nos permite<br />proporcionarle el apoyo que necesita</p>
            </div>
            <div class="three-column-carousel owl-carousel owl-theme">
                <div class="team-block-one">
                    <div class="inner-box">
                        <figure class="image-box"><a href="#"><img src={`${import.meta.env.BASE_URL}/imagenes/team-1.jpg`} alt="Team 1"></a></figure>
                        <div class="lower-content">
                            <h4><a href="#">Enriquez Paez</a></h4>
                            <span class="designation">Senior Enginer</span>
                        </div>
                    </div>
                </div>
                <div class="team-block-one">
                    <div class="inner-box">
                        <figure class="image-box"><a href="#"><img src={`${import.meta.env.BASE_URL}/imagenes/team-2.jpg`} alt="Team 2"></a></figure>
                        <div class="lower-content">
                            <h4><a href="#">Luis Ramirez</a></h4>
                            <span class="designation">Senior Factory Manager</span>
                        </div>
                    </div>
                </div>
                <div class="team-block-one">
                    <div class="inner-box">
                        <figure class="image-box"><a href="#"><img src={`${import.meta.env.BASE_URL}/imagenes/team-3.jpg`} alt="Team 3"></a></figure>
                        <div class="lower-content">
                            <h4><a href="#">Jorge Torres</a></h4>
                            <span class="designation">Senior LOTT</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- team-section end -->


    <!-- news-section -->
    <section class="news-section">
        <div class="container">
            <div class="top-box centred">
                <div class="sec-title">
                    <h1>Noticias</h1>
                    <p>Creemos en compartir. Echa un vistazo a nuestras entradas de blog , obtener más latet blog de<br />nuestras noticias</p>
                </div>
                <div class="btn-box"><a href="#">Más información<i class="icon-arrow-thick-right"></i></a></div>
            </div>
            <div class="row">
                <div class="col-lg-5 col-md-6 col-sm-12 news-block">
                    <div class="news-block-one wow fadeInUp" data-wow-delay="00ms" data-wow-duration="1500ms">
                        <div class="inner-box">
                            <figure class="image-box"><a href="blog-single.html"><img src={`${import.meta.env.BASE_URL}/imagenes/news-1.jpg`} alt="News 1"></a></figure>
                            <div class="lower-content">
                                <h4><a href="blog-single.html">Por qué no volveré a hacer un viaje misionero</a></h4>
                                <div class="text">Nuestros intentos bienintencionados de servir a los negros y marrones apenas tuvieron repercusión</div>
                                <ul class="post-info">
                                    <li>Mahfuz Riad in ACTO</li>
                                    <li>Jul 16, 2019  Read 4 Min</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 post-column">
                    <div class="post-inner wow fadeInUp" data-wow-delay="500ms" data-wow-duration="1500ms">
                        <div class="post">
                            <figure class="post-thumb"><a href="blog-single.html"><img src={`${import.meta.env.BASE_URL}/imagenes/post-1.jpg`} alt="Post 1"></a></figure>
                            <h5><a href="blog-single.html">Cuando una empresa ya no puede satisfacer las demandas</a></h5>
                            <div class="text">Nuestros intentos bienintencionados</div>
                            <span class="post-info">Jul 18, 2019  Read 1 Min</span>
                        </div>
                        <div class="post">
                            <figure class="post-thumb"><a href="blog-single.html"><img src={`${import.meta.env.BASE_URL}/imagenes/post-2.jpg`} alt="Post 2"></a></figure>
                            <h5><a href="blog-single.html">Lo más aterrador de DeepNude ware</a></h5>
                            <div class="text">Nuestros intentos bienintencionados</div>
                            <span class="post-info">Jul 17, 2019  Read 5 Min</span>
                        </div>
                        <div class="post">
                            <figure class="post-thumb"><a href="blog-single.html"><img src={`${import.meta.env.BASE_URL}/imagenes/post-3.jpg`} alt="Post 3"></a></figure>
                            <h5><a href="blog-single.html">¿Qué hace FaceApp con tus fotos?</a></h5>
                            <div class="text">Nuestros intentos bienintencionados</div>
                            <span class="post-info">Jul 17, 2019  Read 3 Min</span>
                        </div>
                        <div class="post">
                            <figure class="post-thumb"><a href="blog-single.html"><img src={`${import.meta.env.BASE_URL}/imagenes/post-4.jpg`} alt="Post 4"></a></figure>
                            <h5><a href="blog-single.html">Por qué necesitas infundir tu práctica creativa </a></h5>
                            <div class="text">Nuestros intentos bienintencionados</div>
                            <span class="post-info">Jul 16, 2019  Read 4 Min</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12 signup-column">
                    <div class="signup-box wow fadeInRight" data-wow-delay="900ms" data-wow-duration="1500ms">
                        <div class="inner-box">
                            <div class="icon-box"><i class="fa fa-envelope"></i></div>
                            <h4>Mantente al día<br />Suscríbase a nuestro boletín</h4>
                            <div class="text">Suscríbase al Boletín Diario de Medium y reciba las mejores</div>
                        </div>
                        <div class="lower-box">
                            <a href="#" class="signup-btn">Inscríbete</a>
                            <a href="blog-single.html" class="link-btn">Más populares<i class="icon-chevron-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- news-section end -->


    <!-- main-footer -->
    <footer class="main-footer">
        <div class="container">
            <div class="footer-top">
                <div class="widget-section">
                </div>
            </div>
            <div class="footer-bottom clearfix">
                <div class="copyright pull-left">Copyright 2025, All Right Reserved</div>
                <ul class="footer-social pull-right">
                    <li><a href="#"><i class="icon-twitter-square"></i></a></li>
                    <li><a href="#"><i class="icon-facebook-official"></i></a></li>
                    <li><a href="#"><i class="icon-linkedin"></i></a></li>
                    <li><a href="#"><i class="icon-pinterest-square"></i></a></li>
                    <li><a href="#"><i class="icon-google2"></i></a></li>
                </ul>
            </div>
        </div>
    </footer>
    <!-- main-footer end -->

    <!--Scroll to top-->
    <button class="scroll-top scroll-to-target" data-target="html">
        <i class="icon-arrow-up"></i>
    </button>

    <!-- jQuery Plugins -->
    <script src={`${import.meta.env.BASE_URL}/js/jquery.js`} defer></script>
    <script src={`${import.meta.env.BASE_URL}/js/popper.min.js`} defer></script>
    <script src={`${import.meta.env.BASE_URL}/js/bootstrap.min.js`} defer></script>
    <script src={`${import.meta.env.BASE_URL}/js/owl.js`} defer></script>
    <script src={`${import.meta.env.BASE_URL}/js/wow.js`} defer></script>
    <script src={`${import.meta.env.BASE_URL}/js/validation.js`} defer></script>
    <script src={`${import.meta.env.BASE_URL}/js/jquery.fancybox.js`} defer></script>
    <script src={`${import.meta.env.BASE_URL}/js/appear.js`} defer></script>
    <script src={`${import.meta.env.BASE_URL}/js/aos.js`} defer></script>
    <script src={`${import.meta.env.BASE_URL}/js/jquery.countTo.js`} defer></script>

    <!-- main-js -->
    <script src={`${import.meta.env.BASE_URL}/js/script.js`} defer></script>
    <script type="module">
        const banner = document.getElementById('demo-banner');
        const closeBtn = document.getElementById('close-btn');
      
        closeBtn.addEventListener('click', () => {
          banner.classList.add('hidden');
          setTimeout(() => {
            banner?.classList.remove('hidden');
          }, 30000); // 30s
        });
      </script>
</body><!-- End of .page_wrapper -->
</html>
